@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.text-gradient {
  background-image: linear-gradient(to right, #833ab4, #FF69B4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-gradient:hover {
  background-image: linear-gradient(to top left, #7a0ae3, #ca1971);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* .btn:hover {
  color: black,
  ;
} */

.seticon {
  /* Add transition properties for smooth hover effect */
  transition: padding-bottom 0.2s ease;
}

.seticon:hover {
  /* Apply the hover effect */
  padding-bottom: 5px; /* Adjust as needed */
}

.sideicon {
  /* Add transition properties for smooth hover effect */
  transition: padding-top 0.2s ease;
}

.sideicon:hover {
  /* Apply the hover effect */
  padding-top: 5px; /* Adjust as needed */
}

.gradient,
.active {
  background: black;
  opacity: 0.8;
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

.text-gradient {
  background: linear-gradient(to bottom right, #8A2BE2, #FF69B4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px; /* Adjust the font size as needed */
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary text-[24px] mb-6;
  }
  .btn {
    @apply bg-gradient-to-br from-purple-700 to-pink-500 text-[18px];
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .btn-background {
    @apply opacity-70 text-white px-4 py-2 bg-gradient-to-br from-purple-800 to-pink-500 shadow-lg rounded-full;
  }
  .btn-background:hover {
    @apply bg-gradient-to-tr from-purple-800 to-pink-500
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  
  .icon:hover {
    @apply text-white
  }

}
